includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/
    # Exclude tests for now - we'll add them in a later spec
    excludePaths:
        - tests/
    # Baseline to absorb pre-existing findings - will be regenerated
    ignoreErrors:
        # Pre-existing baseline errors - will be regenerated via CI
        - '#Command.*does not have option#'
        - '#Access to an undefined property.*Model::\$#'
        - '#Parameter.*\$cuisine.*enrichByCuisine.*expects.*Cuisine#'
        - '#Using nullsafe method call on non-nullable type#'
        - '#Parameter.*\$lastmod.*urlNode.*expects#'
        - '#Parameter.*\$user.*Verified.*expects#'
        - '#Parameter.*\$callback.*Collection.*map\(\)#'
        - '#syncWithoutDetachment\(\)#'
        - '#Anonymous function should return#'
        - '#Variable.*in empty\(\) always exists#'
        - '#Variable.*on left side of \?\? is never defined#'
        - '#.*is unused#'
        - '#Unsafe access to private constant#'
        - '#Property.*is never read#'
        - '#Variable.*in isset\(\) always exists#'
        - '#Strict comparison using !== between array and null#'
        - '#DOMNameSpaceNode\|DOMNode::getAttribute\(\)#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::nearby\(\)#'
    # Don't fail on unmatched ignore patterns (future-proof)
    reportUnmatchedIgnoredErrors: false
